:root.dark {
  --primary-color: #1f2937;
  --secondary-color: #1a202c;
  --background-color: #1a202c;
  --text-color: #E5E7EB;
  --primary-card: #1f2937;
  --navItem-color: #2e2e2e;
  --navItem-color: hsl(210, 10%, 62%);
  --navItem-hover: #3a3a3a;
  --navItem-active: #4a4a4a;
  --background-button-color: #1f2937;
  --darker-border: 1px inset #3a3a3a;
  --background-button-hover: #374151;



  --background: #121926;
  --card-background: #1E293B;
  --accent-highlight: #4B5563;
  --text-primary: #D1D5DB;
  --text-secondary: #9CA3AF;
  --border-divider: #3B4252;

  --container-background-color: #2c2c2c;
  --sign-up-background-color: #333333;
  --form-background-color: #1f2937;
  --form-text-color: #e5e7eb;
  --form-border-color: #4b5563;
  --input-background-color: #9aa3b6;
  /* --input-background-color: hsl(210, 10%, 62%); */
  --input-border-color: #4b5563;
  --button-background-color: #3b82f6;
  --button-hover-color: #2563eb;
  --button-text-color: #ffffff;

}

/* overwrites plugin styles necessary for other forms to work  */
html.dark input[type='text'],
html.dark input[type='email'],
html.dark input[type='url'],
html.dark input[type='password'],
html.dark input[type='number'],
html.dark input[type='date'],
html.dark input[type='datetime-local'],
html.dark input[type='month'],
html.dark input[type='search'],
html.dark input[type='tel'],
html.dark input[type='time'],
html.dark input[type='week'],
html.dark textarea,
html.dark select {
  background-color: var(--input-background-color);
  /* color: var(--form-text-color); */
  /* border-color: var(--input-border-color); */
}