:root{
  --text-color: #010e1b;
  --text-hover: #757575;
  --background: #c5ccd3;
  --primary: #e5e7eb;
  --secondary: #1f2937;
  --accent: #dddddd;
  --accent-secondary: #e8e9ea;

  --data-hover:#F5f5f5;
  /* --data-hover-dark:#f8f2f2; */

  --card-background:#FFFFFF;
  --input-highlight:#0284c7;

  --light-border:#EEEEEE;
  --border-color:#94A3B8;
  --border-color-dark:#020408;

  --button-default:#1F3557;
  --button-hover:rgb(55, 65, 79);
  --button-clicked:rgb(75, 85, 99);
  --button-disabled:#9CA3AF;

}