:root {
  --primary-color: #1f2937;
  --secondary-color: #e5e7eb;
  --text-color: #1a202c;
  --primary-card: #fff;
  --navItem-color: #f9f9f9;
  --navItem-color: hsl(210, 10%, 62%);
  --navItem-hover: #e9e9e9;
  --navItem-active: #e0e0e0;
  --background-button-color: white;
  /* --darker-border: 1px inset #3a3a3a; */
  --background-button-hover: #f9fafb;




  /*  Variables for light mode */
  --background-primary: var(--primary-color);
  --background-secondary: var(--secondary-color);
  --card-background: var(--primary-card);
  --view-container:var(--primary-card);
    /* Custom color for containers */
}