:root{
  /* Main color pallette */
  --primary: #e5e7eb;
  --secondary: #1f2937;
  --text-color: #010e1b;
  --background-color: #c5ccd3;
  --accent: #dddddd;
  --accent-secondary: #e8e9ea;
  
  /* Interactive color pallette */
  --test-color:red;
  --text-hover: #757575;
  --selected:#F5f5f5;

  /* Button  */
  --button-submit:#294570;
  --button-cancel:#dddddd;



  --card-background:#FFFFFF;
  --input-highlight:#0284c7;

  --border-color-light:#ccc;
  /* --light-border:#ccc; */
  /* --border-color:#94A3B8; */
  --border-color-dark:#020408;

  --button-default:#1F3557;
  --button-hover:rgb(55, 65, 79);
  --button-clicked:#4b5563;
  --button-disabled:#9CA3AF;

}