.SignUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp {
  display: grid;
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    width: 100%;
  max-width: 25rem;
}

.SignUp label {
  display: block;
  margin-bottom: 8px;
}

.SignUp input {
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-bottom: 1rem;
  border: 0.0625rem solid #333333;
  border-radius: 0.25rem;
  font-size: 1rem;
}