:root {
  background-color: var(--background-secondary);
  color: var(--text-color);
}

#App-container {
  /* background-color: var(--background-color); */
  /* color: var(--text-color) */
}

.TopNav-Disclosure {
  background-color: var(--background-primary);
}

form, .formContent, #AuthTabs-container {
  background-color: var(--card-background);
  /* color: var(--form-text-color); */
  /* border: 1px solid var(--form-border-color); */
}

.navItem {
  background-color: var(--navItem-color);
}

/* form input,
form textarea,
form select {
  background-color: var(--input-background-color);
  color: var(--form-text-color);
  border: 1px solid var(--input-border-color);
} */

/* 
#RecipeContainer-container,
#Recipes-container {
  background-color: var(--container-background-color);
}



  */