/* :root {
  background-color: var(--background-secondary);
  color: var(--text-color);
}

.TopNav-Disclosure {
  background-color: var(--background-primary);
}

form,
.formContent,
#AuthTabs-container {
  background-color: var(--card-background);
}

#PillButton {
  background-color: var(--background-button-color);
  color: var(--text-color);
  border: var(--darker-border);
  transition: background-color 0.2s ease;
}

#PillButton:hover {
  background-color: var(--background-button-hover);
}

.navItem {
  background-color: var(--navItem-color);
}

.navItem:hover {
  background-color: var(--navItem-hover);
}

.navItemActive {
  background-color: var(--naveItem-active);
}

/*Hover effect handled inline */
/* #TopNav-Items,
.TopNav-Items {
  background-color: var(--background-secondary);
} */ 

                    /* #TopNav-Items:hover, .TopNav-Items:hover {
                      background-color: var(--background-button-hover);
                    } */

/* #RecipeContainer-container,
#Recipes-container {
  background-color: var(--container-background-color);
}

#NotesView-container,
#IngredientsView-container {
  background-color: var(--view-container);
}

#CreateBook-DialogPanel,
textarea,
#RecipeRequests-DialogPanel {
  background-color: var(--background-modal);
}

textarea::placeholder {
  color: var(--text-placeholder);
}

#TextInputTitle-badge {
  background-color: var(--background-secondary);
}

#submit-button {
  background-color: var(--submit-button-color);
}

#submit-button:hover {
  background-color: var(--submit-button-hover);
}

#cancel-button {
  background-color: var(--cancel-button-color);
}

#cancel-button:hover {
  background-color: var(--cancel-button-hover);
} */
