.LoginForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginForm {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  /* Maximum width of the form */
}

.LoginForm label {
  display: block;
  margin-bottom: 8px;
  color: #333333;
}

.LoginForm input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border: 1px solid #333333;
  /* Dark border for inputs */
  border-radius: 4px;
  font-size: 16px;
  /* Increase font size for better readability */
}