@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Outfit";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@layer base {

  * {
     border-color: var(--border-color-dark);
  }

  /* Root text and background */
  html,
  body {
    background-color: var(--primary);
    /* @apply bg-background text-text; */
    /* font-family: system-ui, sans-serif; */
    /* line-height: 1.5; */
    /* border-color: red; */
  }

  div {
    /* background-color: var(--primary); */
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
    font-weight: 600;
  }

  /* Text elements */
  p,
  span,
  strong,
  em,
  small,
  blockquote {
    color: var(--text-color);
  }

  /* Lists */
  ul,
  ol,
  li {
    color: var(--text-color);
    /* border: 1px solid var(--accent) */
    /* padding-left: 1.25rem; */
  }
  li:hover {
    opacity: 0.8;
    background-color: var(--selected);
    /* color: red; */
  }

  /* Links */
  a {
    color: var(--text-color);
  }
  a:hover {
    background-color: var(--selected);
  }

  /* Inputs and form fields */
  input,
  select,
  textarea,
  label {
    color: var(--text-color);
    background-color: var(--background-button-color);
  }

  button {
    /* color: var(--text-color); */
    background-color: var(--primary)
  }

  button:hover {
    opacity: 0.4;
  }


  input::placeholder,
  textarea::placeholder {
    color: var(--text-placeholder);
  }

  /* layout */
  nav {
    /* border: 1px solid red; */
  }

  /* Cards or panels */
  .card,
  .panel,
  .container {
    background-color: var(--card-background);
    color: var(--text-color);
    /* border-radius: 0.5rem; */
  }

  /* Horizontal rules */
  hr {
    border-color: var(--border-divider, #e5e7eb);
  }

  /* Code */
  code,
  pre {
    background-color: var(--card-background);
    color: var(--text-color);
    font-family: monospace;
  }
}
